<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
        <df_facebook>
			<login>
				<button>
					<header>
						<label>Login with Facebook</label>
						<nativeSize>small</nativeSize>
						<type>U</type>
					</header>
					<loginPage>
						<label>Login with Facebook</label>
<!--
2016-11-25
Размер «large» ближе всего по размеру (чуть меньше) к стандартным кнопкам Magento на той же странице
(«Sign In», «Create an Account»).
-->
						<nativeSize>large</nativeSize>
						<type>U</type>
					</loginPage>
					<registratonPage>
						<label>Login with Facebook</label>
<!--
2016-11-25
Размер «large» ближе всего по размеру (чуть меньше) к стандартным кнопкам Magento на той же странице
(«Sign In», «Create an Account»).
-->
						<nativeSize>large</nativeSize>
						<type>U</type>
					</registratonPage>
				</button>
			</login>
		</df_facebook>
    </default>
</config>
