<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Df_Config:etc/system_file.xsd"
>
	<system>
		<section id='df_facebook'>
			<group id='credentials'>
				<field
					id='app_secret'
					showInDefault='1' showInStore='0' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='obscure'
				>
					<label>App Secret</label>
					<comment><![CDATA[<a href='https://discourse.pro/t/15'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
			</group>
			<group
				id='login'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='60'
				translate='label'
			>
				<label>Frontend Login</label>
				<dfExtension>Dfe_FacebookLogin</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
				</field>
				<field
					id='url'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='Df\Sso\FE\CustomerReturn'
				>
					<label>Sign-On URL</label>
					<comment><![CDATA[Set it in your <a href='https://mage2.pro/t/3825' title='How to enable login with a Facebook account?' target='_blank'>Facebook App registration form (Step 13)</a>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<group
					id='button'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
				>
					<comment><![CDATA[The authentication button (or link) setttings.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<label>Button</label>
					<group
						id='header'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
					>
						<label>Header</label>
						<field
							id='enable'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='1'
							translate='label'
							type='Df\Framework\Form\Element\Checkbox'
						>
							<label>Enable?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the authentication button (or link) in the header of the frontend pages, near to the standard «<b>Sign In</b>» and «<b>Create an Account</b>» links.]]></comment>
						</field>
						<field
							id='type'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='2'
							translate='label'
							type='select'
						>
							<label>Type</label>
							<source_model>Df\Sso\Source\Button\Type\UNL</source_model>
							<comment><![CDATA[<ul class='df-note'>
	<li><b>unified button</b>: the button will look similar to the other Mage2.PRO <a href='https://mage2.pro/tags/frontend-single-sign-on' target='_blank'>frontend single sign-on</a> buttons and to the standard Magento 2 Luma buttons.</li>
	<li><b>native button</b>: the button will have a native design provided by Amazon.</li>
	<li><b>link</b>: a text link will be used instead of a button.</li>
</ul>]]></comment>
							<depends><field id='enable'>1</field></depends>
						</field>
						<field
							id='nativeSize'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='3'
							translate='label'
							type='select'
						>
							<label>Size</label>
							<source_model>Dfe\FacebookLogin\Source\Button\Size</source_model>
							<comment><![CDATA[You can examine the sizes in the Facebook's <a target='_blank' href='https://developers.facebook.com/docs/facebook-login/web/login-button#plugin-configurator'>Plugin Configurator</a>.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='label'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='4'
							translate='label'
							type='text'
						>
							<label>Label</label>
							<depends>
								<field id='enable'>1</field>
							</depends>
							<validate>required-entry</validate>
						</field>
					</group>
					<group
						id='loginPage'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
					>
						<label>Login Page</label>
						<field
							id='enable'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='1'
							translate='label'
							type='Df\Framework\Form\Element\Checkbox'
						>
							<label>Enable?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the authentication button (or link) on the «<b>Customer Login</b>» page, above the standard «<b>Registered Customers</b>» and «<b>New Customers</b>» blocks.]]></comment>
						</field>
						<field
							id='type'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='2'
							translate='label'
							type='select'
						>
							<label>Type</label>
							<source_model>Df\Sso\Source\Button\Type\UNL</source_model>
							<comment><![CDATA[<ul class='df-note'>
	<li><b>unified button</b>: the button will look similar to the other Mage2.PRO <a href='https://mage2.pro/tags/frontend-single-sign-on' target='_blank'>frontend single sign-on</a> buttons and to the standard Magento 2 Luma buttons.</li>
	<li><b>native button</b>: the button will have a native design provided by Amazon.</li>
	<li><b>link</b>: a text link will be used instead of a button.</li>
</ul>]]></comment>
							<depends><field id='enable'>1</field></depends>
						</field>
						<field
							id='nativeSize'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='3'
							translate='label'
							type='select'
						>
							<label>Size</label>
							<source_model>Dfe\FacebookLogin\Source\Button\Size</source_model>
							<comment><![CDATA[You can examine the sizes in the Facebook's <a target='_blank' href='https://developers.facebook.com/docs/facebook-login/web/login-button#plugin-configurator'>Plugin Configurator</a>.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='label'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='4'
							translate='label'
							type='text'
						>
							<label>Label</label>
							<depends>
								<field id='enable'>1</field>
							</depends>
							<validate>required-entry</validate>
						</field>
					</group>
					<group
						id='registratonPage'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='3'
						translate='label'
					>
						<label>Registration Page</label>
						<field
							id='enable'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='1'
							translate='label'
							type='Df\Framework\Form\Element\Checkbox'
						>
							<label>Enable?</label>
							<backend_model>Df\Config\Backend\Checkbox</backend_model>
							<comment><![CDATA[Shows the authentication button (or link) on the «<b>Create New Customer Account</b>» page, above the standard registration form.]]></comment>
						</field>
						<field
							id='type'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='2'
							translate='label'
							type='select'
						>
							<label>Type</label>
							<source_model>Df\Sso\Source\Button\Type\UNL</source_model>
							<comment><![CDATA[<ul class='df-note'>
	<li><b>unified button</b>: the button will look similar to the other Mage2.PRO <a href='https://mage2.pro/tags/frontend-single-sign-on' target='_blank'>frontend single sign-on</a> buttons and to the standard Magento 2 Luma buttons.</li>
	<li><b>native button</b>: the button will have a native design provided by Amazon.</li>
	<li><b>link</b>: a text link will be used instead of a button.</li>
</ul>]]></comment>
							<depends><field id='enable'>1</field></depends>
						</field>
						<field
							id='nativeSize'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='3'
							translate='label'
							type='select'
						>
							<label>Size</label>
							<source_model>Dfe\FacebookLogin\Source\Button\Size</source_model>
							<comment><![CDATA[You can examine the sizes in the Facebook's <a target='_blank' href='https://developers.facebook.com/docs/facebook-login/web/login-button#plugin-configurator'>Plugin Configurator</a>.]]></comment>
							<depends>
								<field id='enable'>1</field>
								<field id='type'>N</field>
							</depends>
						</field>
						<field
							id='label'
							showInDefault='1' showInStore='1' showInWebsite='1'
							sortOrder='4'
							translate='label'
							type='text'
						>
							<label>Label</label>
							<depends>
								<field id='enable'>1</field>
							</depends>
							<validate>required-entry</validate>
						</field>
					</group>
				</group>
			</group>
		</section>
	</system>
</config>